a,
a:focus,
a:hover {
  color: #1B807E;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #209996;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #444444;
  border: .05rem solid #209996;
}

.text::placeholder {
  color: #209996;
}

.text,
.text:hover,
.text:focus {
  color: #209996;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #545b62;
  border: .05rem solid #209996;
}

html,
body {
  height: 100%;
  background-color: #444444;
}
body {
  display: -ms-flexbox;
  display: flex;
  color: #209996;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /*box-shadow: inset 0 5rem rgba(0, 0, 0, .5);*/
}

.cover-container {
  max-width: 45em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #1B807E;
  border-bottom-color: #1B807E;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {

  color: #1B807E;
}

.error {
  color: #d23f3f;
}

main {
    margin-top: 5em;
}

.shortlink {
    background: #495151;
}
